#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };
    };

    macros {
        repeat: repeat {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp NUMBER_2 &kp NUMBER_4 &kp NUMBER_2 &kp NUMBER_4 &kp NUMBER_2 &kp NUMBER_4>;
            label = "REPEAT";
        };

        snip: snip {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LSHFT &kp LEFT_GUI &kp S>;
            label = "SNIP";
        };

        lock: lock {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_GUI &kp L>;
            label = "LOCK";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // This is a sample keymap intended to be replaced with your own

        Base {
            bindings = <
&kp Q  &kp W  &kp E       &kp R             &kp T        &kp Y      &kp U        &kp I      &kp O    &kp P
&kp A  &kp S  &kp D       &hm LEFT_SHIFT F  &kp G        &kp H      &hm LSHFT J  &kp K      &kp L    &kp SEMI
&kp Z  &kp X  &kp C       &kp V             &kp B        &kp N      &kp M        &kp COMMA  &kp DOT  &kp SLASH
              &kp ESCAPE  &lt 1 BACKSPACE   &lt 3 SPACE  &kp ENTER  &lt 2 DEL    &kp TAB
            >;
        };

        Num {
            bindings = <
&trans        &trans        &repeat  &snip   &lock           &kp F1   &kp F2   &kp F3  &kp F4  &kp F5
&kp NUMBER_1  &kp N2        &kp N3   &kp N4  &kp N5          &kp F6   &kp F7   &kp F8  &kp F9  &kp F10
&kp NUMBER_6  &kp NUMBER_7  &kp N8   &kp N9  &kp N0          &kp F11  &kp F12  &trans  &trans  &trans
                            &trans   &trans  &kp LEFT_SHIFT  &trans   &trans   &trans
            >;
        };

        Sym {
            bindings = <
&kp DOUBLE_QUOTES  &kp LS(LEFT_BRACKET)  &kp LS(RIGHT_BRACKET)  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LC(X)         &kp LC(C)  &kp UP         &kp LC(V)  &trans
&kp LS(NUMBER_1)   &kp LS(NUMBER_2)      &kp LS(NUMBER_3)       &kp LS(NUMBER_4)  &kp LS(N5)         &kp SINGLE_QUOTE  &kp LEFT   &kp DOWN       &kp RIGHT  &trans
&kp LS(NUMBER_6)   &kp LS(N7)            &kp LS(N8)             &kp LS(N9)        &kp LS(N0)         &kp MINUS         &kp EQUAL  &kp BACKSLASH  &kp GRAVE  &trans
                                         &trans                 &trans            &kp LSHFT          &trans            &trans     &trans
            >;
        };

        Misc {
            bindings = <
&trans  &trans  &trans  &kp LS(Z)  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp LS(Y)  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans     &trans  &trans  &trans  &trans
            >;
        };
    };
};
